Hello <%= @ticket.sender_name %>,

<p>Thank you for your request. Your ticket referemce number is <b><%= @ticket.reference %></b>.</p>

<p>We will contact you as soon as possible</p>

<p>
  Best regards,
  <br/>
  Customer Support Team
</p>
